@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Tourney:wght@600&display=swap');

body {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(https://cdn.pixabay.com/photo/2016/04/21/11/32/groceries-1343141_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

div {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}


h1 {
    display: flex;
    justify-content: center;
    font-family: 'Tourney', cursive;
    font-size: 8vh;
    color: white;
}

fieldset {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(74, 119, 51, 1) 50%, rgba(137, 105, 195, 1) 100%);
    ;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 95%;
}


input {
    flex: 1;
    padding: 10px;
    border: none;
    opacity: 0.5;
    ;
}



#addBtn {
    background-color: #61ac77;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

}

#addBtn:hover {
    background-color: #4caf50;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


li {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 70vh;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}

li .delBtn {
    background-color: #f01212;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #cb4242;
    color: white;
}

#error,
#congrats {
    display: none;
    font-family: 'Tourney', cursive;
    align-self: center;
    margin-bottom: 10px;
}

li input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 0;
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
}

li span {
    flex: 1 1 auto;
}

.shppingLogo {
    margin: 0;
    margin-bottom: 0;
    width: 200px;
    height: 250px;
}

/*
@keyframes myAnimation {
    from {
        opacity: 0.1;
        background-color: #4caf4f75;
    }

    to {
        opacity: 1;

    }
}

#myElement {
    animation-name: myAnimation;
    animation-duration: 5s;
}*/

#myElement {
    --animate-duration: 2s;
    --animate-repeat: 2;
}