/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:aliceblue;
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
    }
    

/* HEADER */

header{
    box-sizing: border-box;
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding-top: 0.5rem;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(30,137,143,1) 0%);  /*  overflow: auto;*/
}

header a, label{
    color: white;
    text-decoration: none;
}

header ul{
    list-style-type: none;
}
#logo img{
    max-width: 200px;
    min-width: 100px;
}

/* MAIN */
#title p{
    color: grey;
}

/* ELEMENTI NEL MAIN - ARTICLE */
#container{
    box-sizing: border-box;
    height: auto;
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
}

#container h1{
    font-size: 2ems;
}

main{
    margin: 1rem;
}

.text{
    font-weight: bold;
}

#textfucsia{
    color: fuchsia;
}

#title h1{
    font-size: 2rem;
    margin-bottom: 1rem;
}

#intro code{
    border: 1px solid black;
    padding: 2px;
    border-radius: 10%;
    background-color: lightgray;
}
/* TABELLE */
tbody > tr:nth-child(odd){
    background-color: white;
}

tbody > tr:nth-child(even){
    background-color: rgb(219, 213, 207);
}

thead{
    background-color: #316ccd;;
    font-weight: 100;
}

th{
    color: white;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    padding: 2rem;
}

table{
    border-collapse: collapse;
    border-bottom: 1px solid blue;
}

td{
    padding: 1em;
    text-align: center;
}

table caption{
    font-style:oblique;
    font-weight: bold;
}

iframe{
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}


/* FORM */
#newsletter{
    margin: 1rem;
    background-color: lightgray;
    text-align: center;
}

#newsletter fieldset{
    border-style: none;
    padding: 5px;
}

input{
    border-bottom-style: dotted;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
    margin: 1rem;
}

button{

    background-color: #0078d4;
    color: white;
    font-weight: bold;
    padding: 0.4rem;
    border: none;
}

#newsletter h2{
    padding-top: 0.5rem;
}
    

/* ELEMENTI NELL' ASIDE */

#correlati div a{
    color: rgb(57, 139, 171);
    font-weight: 600;
}

#correlati h2{
    text-align: center;
}

aside > div{
    background-color: lightgray;
    border:1px solid #a09a9a;
    padding: 1rem; 
    margin: 1rem;
}
#data{
    text-align: right;
    font-size: small;
    font-weight: 500;
}


/* FOOTER */
footer{
    box-sizing: border-box;
    height: auto;
    width: 90%;
    color: white;
    margin: 0 auto;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(26,74,77,1) 54%);    font-weight:500;
    padding: 0.5rem;
}

address a{
    color: fuchsia;
}