body {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;
    font-family: 'Roboto', sans-serif;
    background-color: #caae48;
}

/* width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    max-height: 100vh !important;*/

.album__body p img {
    width: 20px;
    height: 20px;
    border-radius: 80px;
}

.artist__info {
    font-size: 0.5rem;
}

.user__Bar img {
    width: 20px;
    height: 20px;
}

.user__Bar {
    background-color: #caae48;
}

.arrow__Btns i {
    font-size: 14px;
    padding: 0;
}

.container-fluid .bi-play-circle {
    font-size: 40px;
}

.container-fluid {
    height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3967517401392111) 0%, rgba(0, 0, 0, 1) 25%);
}

.bi-play-circle-fill {
    width: 40px;
}

.div__container {
    width: 97%;
}

/*
.container-fluid i:first-child:hover {
    background-color: green;
}*/