body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
    background-color: #fbf7e3;
    color: #612406;
}

ul li img {
    width: 40px;
    margin-right: 10px;
}

ul li {
    width: 85px;
    list-style-type: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 60px;
    background-color: #f3df85;
    text-align: center;
    margin-right: 30px;
}

.shop-logo {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    /*flex-grow: 1;*/
}


.shop-logo span {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: #612406;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .shop-logo {
        order: -1;
        font-size: 60px;
    }

    .shop-logo span {
        font-size: 40px;
    }

    nav ul {
        justify-content: space-around;
    }

    ul li {
        margin: 5px;
    }

    ul img {
        margin-left: -30px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 481px) and (max-width: 576px) {}

@media screen and (min-width: 577px) and (max-width: 768px) {}

@media screen and (min-width: 769px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) and (max-width: 1200px) {}