body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
.news {
    display: flex;
    height: 700px;
    width: 300px;

}

.news-content {
    display: flex;
    flex-direction: column;
    background-color: #fbf7e3;
}

.news-content img {}*/